@import './base.css';

/* Suppression de la limite de largeur pour occuper toute la largeur */
#app {
  width: 100%; /* Assure que le conteneur prend toute la largeur */
  margin: 0; /* Supprime l'espacement automatique au centre */
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(219, 170, 8);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* Suppression de la grille dans #app pour un comportement flexible */
  #app {
    display: flex; /* Utilisez flex pour une meilleure adaptabilité */
    flex-direction: column;
    width: 100%; /* Assure l'occupation totale de l'écran */
    padding: 0 2rem; /* Conserve le padding latéral */
  }
}
